@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    margin: 0;
    font-size: 100%;
    font-family: sans-serif;
}
div, section, ul, li, a, header{
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    overflow: hidden;

}
#menu li{
list-style: none;
display: inline-block;
margin: 20px;

}

#menu li a{
    color: #000;
    text-decoration: none;
    font-size: 22px;
}
#menu li a:hover{
    color: #ffffff;
    padding-left: 8px;}
section{
    width: 100%;
    height: 100vh;
    float: left;
}
#home{
 background-color: antiquewhite;
 background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #CDCDCDcc, #CDCDCDcc),
    url(img/bgimg.jpg);

}
#xyz{
    background-image: repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #CDCDCDcc, #CDCDCDcc),url(img/bgimg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
#abc{
    background-image: repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #CDCDCDcc, #CDCDCDcc),url(img/s4bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
#Contact{
background-color: seagreen;
background-image: repeating-linear-gradient(
    to right, transparent 0 150px, #0001 150px 151px
),
repeating-linear-gradient(
    to bottom, transparent 0 150px, #0001 150px 151px
),
linear-gradient(to right, #CDCDCDcc, #CDCDCDcc),url(img/s4bg.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
.container{
    max-width: 1200px;
    margin:90px;
}
.ful{
    list-style: none;
}
.foot{
    background-color: #24262b;
    padding: 4px 0px;
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.col{
    width: 25%;
    padding: 0 15px;
}
.col h4{
    font-size: 18px;
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    background-color: red;

}
.col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.col ul li:not(:last-child){
    margin-bottom: 10px;
}
.col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}
.col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.col .social a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
}

.banner{
    margin-top: -auto;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.product{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    z-index: 2;
    width: 500px;
    transition: 0.7s;
}
.product .soda{
    position: absolute;
    bottom: 0;
    left: calc(50%);
    transform: translateX(-50%);
}
.soda{
    --left: 0px;
    background: 
        var(--url) var(--left),
        url(img/mockup.png) 0 0;
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    transition: 0.8s;
    mask-image: url(img/mockup.png);
    mask-size: auto 100%;
}
.soda:nth-child(2){
    opacity: 0;
}
.product:hover{
    bottom: 300px;
}
.product:hover .soda:nth-child(2){
    opacity: 1;
    --left: 500px;
}
.product:hover .soda:nth-child(1){
    opacity: 0;
    --left: 500px;
}

.rock{
    position: absolute;
    inset: 0px 0px 0px 0px;
    width: 100%;
    pointer-events: none;
    
}
.rock img:nth-child(1){
    position: absolute;
    height: 170px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    transition: 0.7s;
    z-index: 1;
}
.rock img:nth-child(2){
    position: absolute;
    height: 45%;
    left: 0;
    bottom: 0;
    transition: 0.7s;
}
.rock img:nth-child(3){
    position: absolute;
    height: 90%;
    right: 0;
    bottom: -100px;
    rotate: -25deg;
    transition: 0.7s;
}
.banner:has(.product:hover) .rock img:nth-child(1){
    transform: translateX(-50%) translateY(50px);
}
.banner:has(.product:hover) .rock img:nth-child(2){
    transform: translateX(-100px) translateY(100px);
}
.banner:has(.product:hover) .rock img:nth-child(3){
    transform: translateX(100px) translateY(100px);
}
@media screen and (max-width: 1023px) {
    
    .soda{
        width: 400px;
    }
}
@media screen and (max-width: 767px) {
    .soda{
        width: 250px;
    }
    header img{
        display: none;
    }
    header .author{
        width: 100%;
    }

}


.about-us {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 90px 0;
    background: #fff;
  }

  .about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .text {
    width: 540px;
  }
  .text h2 {
    color: #333;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 100px;
  }
  .text h5 {
    color: #333;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  span {
    color: #4070f4;
  }
  .text p {
    color: #333;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .data {
    margin-top: 30px;
  }
  .hire {
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    transition: 0.5s;
  }
  .hire:hover {
    background: #000;
  }

  .container2{
    width: 85%;
    background: #fff;
    align-items: center;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container2 .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container2 .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  .container2 .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: #5029bc;
  }
  @media (max-width: 950px) {
    .container2{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container2 .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container2{
      margin: 40px 0;
      height: 100%;
    }
    .container2 .content{
      flex-direction: column-reverse;
    }
   .container2 .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container2 .content .left-side::before{
     display: none;
   }
   .container2 .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }

